.navbar
{
  padding:7% 10%;
  background-color: #B1E693;
}
.nv
{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
.bran
{
  font-size: 32px;
}
.ultext
{
  font-size: 25px;
}
.add
{
  float:left;
  margin-right: 30px;
}
.cor-t
{
  font-size:30px;
}
.bt {
  background: #d9bd34;
  background-image: -webkit-linear-gradient(top, #d9bd34, #99b82b);
  background-image: -moz-linear-gradient(top, #d9bd34, #99b82b);
  background-image: -ms-linear-gradient(top, #d9bd34, #99b82b);
  background-image: -o-linear-gradient(top, #d9bd34, #99b82b);
  background-image: linear-gradient(to bottom, #d9bd34, #99b82b);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 33px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.bt:hover {
  background: #fcfc3c;
  background-image: -webkit-linear-gradient(top, #fcfc3c, #86d934);
  background-image: -moz-linear-gradient(top, #fcfc3c, #86d934);
  background-image: -ms-linear-gradient(top, #fcfc3c, #86d934);
  background-image: -o-linear-gradient(top, #fcfc3c, #86d934);
  background-image: linear-gradient(to bottom, #fcfc3c, #86d934);
  text-decoration: none;
}
.cor-t
{
  margin-left: 10px;
  font-size: 25px;
}
#features
{
  background-color: #B2EA70;
  padding:7% 15%;
  text-align: center;
  border: 1rem outset #EC9CD3;
  /* outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue; */
  border-radius: 12px;
}
.nxb
{
  padding-right:3%;
}
.carousel-head
{
  color:#EA5C2B;
  font-size: 59px;
  font-family: 'Pushster', cursive;
}
.swd
{
  float:right;
  margin-right: 30px;
}
.car-text
{
  font-size:25px;
  color:#A3423C;
}
.tut
{
  background-color: #B1E693;
  padding-top:7%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom:0;
  text-align: center;
  color: #A3423C;
}
.pcar
{
  padding-bottom:5%;
  padding-right: 30px;
}
.bottom-container
{
  text-align: center;
  background-color: #D3E4CD;
  padding:4% 15%;
  margin:0 0 0 0;
  line-height:2;
}
.footer-link
{
  margin-right: 35px;
}
